<!DOCTYPE html>
<html {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if wp_title %}
        {{ wp_title }} - {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>
    {{ function('wp_head') }}
  </head>
  <body class="{{ body_class }}">
    {% include '@core/header.twig' %}

    <div class="umbral-editor">
      <div class="umbral-editor__sidebar">
        <div class="umbral-editor__form">
          <div class="umbral-editor__form-content">{{ createEditorForm(form) }}</div>
        </div>
      </div>
      <div class="umbral-editor__preview">
        <iframe src="{{ editor.preview_url }}" frameborder="0" title="Content Preview"></iframe>
      </div>
    </div>

    {% include '@core/footer.twig' %}
    <script type="module" src="{{ theme.link }}/includes/editor/assets/scripts/editor.js"></script>

    {{ function('wp_footer') }}
  </body>
</html>
